# Blender backup files
*.blend1

# Blender training data script config.json
Blender/Training Data Script/config.json

# Rendered images directory
Renders/

# labelImg directory
labelImg-master/

# Label files
objDetection/datasets/data/labels

# Problematic Directories
App/

# Other file patterns to ignore
*.zip
*.tmp
*.pem